<footer class="Groome-footer">
    <div class="row">
        <div class="groom-img  col-xs-12 nopadding">
        <img src="../assets/images/Groome_Logo-02.svg"/>
    </div>
<div class="content col-xs-12 nopadding">
    <p>Integrate and streamline your 
      people operations</p>
 </div>
 
 <div class="footer-btn col-xs-12 col-sm-6 nopadding">
        <a><button>Request Demo</button></a>
     </div>
            
    <div class="footer-links col-xs-12 col-sm-6">
            <a  href="#">Services</a>
            <a href="#">Recruitment</a>     
            <a   href="#">Operation</a>
            <a href="#">Sales</a>  
     </div>
     <div class="col-xs-12 Brand nopadding">

        <p>Product of <span> hashworks.co</span></p>
        <div class="pull-right">
        <a href="#"><img  class="linkedin" src="/assets/images/LinkedIn.svg"></a>
        <a href="#"><img class="facebook" src="/assets/images/facebook.svg"></a>
        <a href="#"><img class="twitter"  src="/assets/images/twitter.svg"></a>
        </div>
        
     </div>


    </div>

</footer>
<script src="/assets/js/accordion.js"></script>
</body>




</html>


