<div class="modal fade Contact-modal" id="ContactModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <div class="title">
             <p class="main-head">Get Personalised Demo of Groome  from one of our Experts</p>
             <p class="sub-head">Discover how groome can help you recruit and hire the right talent faster</p>
            </div>
            <form class="textbox-container">
                <div class="form-group">
                  <input type="text" class="form-control " id="first" placeholder="First Name" name="first">
                </div>
                <div class="form-group pad-left">
                  <input type="text" class="form-control data-info" id="last" placeholder="Last Name" name="last">
                </div>
                <div class="form-group">
                 <input type="email" class="form-control data-info" id="email" placeholder="Email Id" name="email">
                 </div>
                 <div class="form-group pad-left">
                <input type="text" class="form-control data-info" id="phone" max-length=10; placeholder="Phone Number" name="pwd">
                 </div>
                 <div class="form-group">
                  <input type="text" class="form-control data-info" id="company" placeholder="Company Name" name="company">
                   </div>
                   <div class="form-group mobile-text">
                    <input type="text" class="form-control data-info emp" id="emp" placeholder="Number of Employees" name="emp">

                     </div>
                     <div class="dropdown form-group pad-left" style="border-radius:4px">
                      <select class="form-control emp" id="select" style="height:40px !important;background-position:94%">
                          <option value="" disabled selected>Number of Employees </option>
                          <option>Option Two </option>
                          <option>Option Three </option>
                      </select>
                  </div>
                     <div class="form-group mobile-text">
                      <input type="text" class="form-control data-info" id="work" placeholder="Field of Work" name="pwd">
                       </div>
                       <div class="last-dropdown  dropdown form-group  Work" style="width:100% !important;border-radius:4px">
                        <select class="form-control  work" id="select" style="height:40px !important;background-position:97%">
                            <option value="" disabled selected>Field of Work</option>
                            <option>Option Two </option>
                            <option>Option Three </option>
                        </select>
                    </div>
                       <div class="checkbox-wrapper">
                <div class="checkbox">
                  <label style="min-height:0px !important"><input type="checkbox"  class="product-check" name="remember" value="products"><span>Products</span><label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="service-check" name="remember" value="service-consultants"><span>service consultants</span></label>
                </div>
                </div>
               
              </form>
              <div class="btn-demo">
                <a class="submit-data">
                  <button>Request Demo</button>
                </a>

              </div>
        </div>
       
      </div>
      
    </div>
  </div>



  <div class="modal fade Confirm-modal" id="ConfirmModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p class="info-head">Request Confirmed!</p>
          <p class="info-subhead">You will hear from us shortly</p>
          <p class="info-all">You wilIn the meantime, hear from Hashworks CEO, Gopikrishna Kannan, about our Groome Suite, or read the customer story featured on this page.l hear from us shortly</p>
          <p class="info-mail">For questions, please contact us at info@groome.co</p>
        </div>
       
      </div>
      
    </div>
  </div>







<footer class="Groome-footer">
    <div class="row">
        <div class="groom-img  col-xs-12 nopadding">
        <img src="../assets/images/Groome_Logo-02.svg"/>
    </div>
<div class="content col-xs-12 nopadding">
    <p>Integrate and streamline your 
      people operations</p>
 </div>
 
 <div class="footer-btn col-xs-12 col-sm-6 nopadding">
        <a data-toggle="modal" data-target="#ContactModal"><button>Request Demo</button></a>
     </div>
            
    <div class="footer-links col-xs-12 col-sm-6">
            <a  href="/services">Services</a>
            <a href="/recruitment">Recruitment</a>     
            <a   href="/operation">Operation</a>
            <a href="/sales">Sales</a>  
     </div>
     <div class="col-xs-12 Brand nopadding">

        <p>Product of <span> hashworks.co</span></p>
        <div class="pull-right">
        <a href="#"><img  class="linkedin" src="/assets/images/LinkedIn.svg"></a>
        <a href="#"><img class="facebook" src="/assets/images/facebook.svg"></a>
        <a href="#"><img class="twitter"  src="/assets/images/twitter.svg"></a>
        </div>
        
     </div>


    </div>

</footer>
<script src="/assets/js/accordion.js" ></script>
<script src="/assets/js/tab-accord.js"></script>

<script>
$(document).ready(function(){
$('.submit-data').click(function(){
  var first=$("#first").val();
  var last=$("#last").val();
  var email=$("#email").val();
  var phone=$("#phone").val();
  var company=$("#company").val();
  var emp=$(".emp option:selected").val();
  var work=$(".work option:selected").val();

console.log(first,last,email,phone,company,emp,work);
if((first!='' && last !='' && email !='',phone!='',company !='',emp !='',work !='') && (($('.product-check').is(":checked"))||($('.service-check').is(":checked"))))
{ 
$('#ContactModal').modal('hide');
$('#ConfirmModal').modal('show');
$('.textbox-container')[0].reset();

}

})

})




</script>
</body>




</html>


