



@media screen and (max-width:767px){
    .image-description{
        max-width:460px;
    }
    .product-container{
        max-width:460px;
    }
    #servicegroup{
        width:320px;
        margin:0 auto;
        background-size:320px 226px ;
    }
    .info-contain{
        padding-left:0px !important;

    }
    .img-group{
        width:320px;
        margin:0 auto;
    }
}
@media screen  and (min-width:320px){
    .captcha-wrapper{
        position:relative;
        width:100%;
        #g-recaptcha{
            transform:scale(0.3);
           -webkit-transform:scale(0.3);
           left:10px;
           top: -35px;

            position: absolute;
        }
    }

    .tab-one{
     display:none;
    }
    h2.resp-accordion:first-child{
        border-top:none !important;
    }
    h2.resp-accordion{
        border:none !important;
        border-bottom: 1px solid #c1c1c1 !important;

        
    }
    .cd-primary-nav li :last-child button{
        padding:10px;
    }
    .tab-text span{
        font-family:Nunito !important;
    }
    .resp-tab-content.resp-tab-content-active{
border:none !important;
    }
    .HomePage{

     
         .top-align{
             margin-top:30px;
         }
        .product-container{
            align-items: center;
            width:87%;
            
            margin:0 auto;
             .max-padder{
                 padding-top:30px;
             }
             .sales-align{
                 padding-top:0px;
             }
             a{
                font-family: Nunito;
                font-size: 16px;
                font-weight: 600;
                text-align:center;
                margin:0 auto;
                width: 120px;
                height: 30px;
                margin-top:20px;
                text-decoration: none;
                color: #c5aa7f;
                border: solid 1px #d7c4a7;

                border-radius: 4px;
                &:hover{
                    background-color: #cab18b;
                      
                }
              button{
                width: 120px;
                height: 30px;
                color: #cab18b;
                border: none;
                outline: none;

                text-align: center;
                background-color:transparent;
                &:hover{
                    color:white;
                }

              }

            }
            img{
                width:100%;
            }

            .images-sale{
                // background-image: url('http://res.cloudinary.com/shettycloud/image/upload/v1521739354/landersale_dkq4aq.png');
             
                  background-size:cover;
                  background-position: center center;

                background-repeat:no-repeat;
        
            }
            .images-recruit{
                // background-image: url('http://res.cloudinary.com/shettycloud/image/upload/v1521739653/landerrecruit_nyp5s1.png');

                background-repeat:no-repeat;
                background-position: center center;

                background-size:cover;

            }
            .images-operation{
                // background-image: url('http://res.cloudinary.com/shettycloud/image/upload/q_100/v1521713554/opeart_bknzd5.png');
              
                background-position: center center;
                background-repeat:no-repeat;
                background-size:cover;
                    p{
                        display:inline-block;
                        padding-left:4px;
                        font-family:NotoSans;
                        
                    }
                    span{
                        background-repeat:no-repeat;
                        width:20px;
                        height:20px;
                        position:relative;
                        top:5px;
                        display:inline-block;
                        background-size:20px 20px;

                    }
                    .one-sale{
                        background-image: url("https://res.cloudinary.com/shettycloud/image/upload/v1522049879/icons/group-35.svg");
                        
                    }
                    .one-operate{
                       
                        background-image: url(" https://res.cloudinary.com/shettycloud/image/upload/v1522047892/icons/page-1_2.svg");

                    }
                    .one-recruit{
                        background-image: url("https://res.cloudinary.com/shettycloud/image/upload/v1522048875/icons/page-1_5.svg");
                    }

                }
                .all-info{
                    padding-top:16px;
                    font-family: Nunito;
                    font-size: 13px;
                    line-height:1.7;
                    color: #4a4a4a;

                }
                a{
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 600;
                 
                    margin:0 auto;
                
                    text-decoration: none;
                    color: #c5aa7f;
                   


                }
            }
        }





        .resp-tab-content-active{
            background-color:#f2f2f2;
            
          }

          .resp-tab-content{
              padding:0px;
          }
          .resp-vtabs li.resp-tab-active {
         border:none !important;
         background-color: #f2f2f2;
         
    }
        .row.set-desk{
            margin-left:0px !important;
        }
       .nopadding{
        padding-left: 0px !important;
        padding-right: 0px !important;
        
        
       }
       .fas.fa-quote-left{
        //    background-color:#00c6c6;
           color:#00c6c6;
       }
        .container{
            .row{
                width:100%;
            }
            .pad-setter{
                margin-top:35px;
                // padding-bottom:15px;
            }
            .name-padder{
                margin-top:15px;
                strong{
                    font-family:NunitoBold;
                    font-size:12px;
                }
                .Founder{
                font-family: NunitoLight;
                font-size:12px;
                }

            }
            img{
                width:105px;
                height:98px;
                border-radius:50%;
            }
            p{
                margin:0 auto;
                font-family: Nunito;
                font-size: 12px;
                color: #4a4a4a;
                width:290px;
                
                
            }
            #quote-carousel {
                padding: 0 10px 30px 10px;
                margin-top: 30px;
                text-align:center;
              }
              /* indicator position */
              #quote-carousel .carousel-indicators {
                right: 50%;
                top: auto;
                bottom: -10px;
                margin-right: -19px;
              }
              /* indicator color */
              #quote-carousel .carousel-indicators li {
                width:0px !important;
                padding:3px;
                border:2px solid #00c6c6;;
                background-color:white !important;
              }
              /* active indicator */
              #quote-carousel .carousel-indicators .active {
                background:#00c6c6 !important;
                height:10px;
                width:10px;
                margin-bottom:1px;
              }
              /* typography */
              h1 {
                text-align:center;
                margin-bottom:-20px !important;
              }
              p {
                font-style:italic;
              }
            


        }
        .ipad,.mypod{
           padding:0px;
           margin-top:15px;
        }

        margin-top:50px;
        .row{
            width:210px;
            margin:0 auto;
           
        }
        .main-page{
            margin-top:80px;
        }
        
        .banner-img{
            width:210px;
            height:143px;
            background-size:contain;
            background-image:url('/assets/images/cover-image.png');
            background-repeat:no-repeat;
        }
        .banner-content{
            height:81px;
         width:188px;
         margin:0 auto;
         margin-top:30px;
         
         p{
            font-family: NotoSans;
            font-size: 20px;
            color: #000000;
            text-align:center;
            span{
                color: #00c6c6;
                
            }
         }
        }
        .info{
            margin-top:20px;
            line-height:1.5;
            .row{
                width:280px;
                p{
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 200;
                    text-align:center;
                    color: #4a4a4a;
                    
                }
            }
        }
        .banner-btn{
            margin-top:30px;
            .row{
                width:210px;
                margin:0 auto;
                
            
                a{
                    display:inline-block;
                    width:210px;
                    height: 41px;
                    border-radius: 4px;
                    background-color: #00c6c6;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                  button{
                    width: 210px;
                    height: 19px;
                    font-family: Nunito;
                    font-size: 14px;
                    padding:11px 35px;
                    border-radius:4px;
                    text-align: center;
                    color: #ffffff;
                    font-weight:bold;
                    outline:none;
                    border:none;
                    background-color: #00c6c6;
                    
                  }
                }
            }
        }
.details.row{
        width:100%;
        background-color: #00c6c6;
        height: 98px;
        margin-top:30px;

        .img-container{
            width:290px;
            margin:0 auto;
            display:flex;
            justify-content:space-between;
            align-items:center;
        p{
            color:white;
            font-size:16px;
            text-align:center;
        }
            img{
                width:40px;
                height:70px;
                margin-top:0px;
            }
        }

    }
    .Accordion-title{
padding-bottom:20px;
padding-top:30px; 
.customer-centric{
    display:none;
}
        .title{
            width: 242px;
            font-family: NotoSans;
            font-size: 18px;
            text-align: left;
            color: #4a4a4a;
        }
    }
    
.image-description{
    margin:0 auto;
    padding-left:30px !important;
    padding-right:30px !important;
    margin-top:50px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    .from-tab{
        display:none;
    }
    .img-first{
    //   background-image:url('/assets/images/salesimage.png');
    //   background-size: 100% 100%;
    //   background-repeat:no-repeat;
    img{
        width:100%;
    }
    }
    .img-next{
        img{
            width:100%;
        }
        // height:167px;
        // background-image:url('/assets/images/operations.png');
        // background-size: 100% 100%;
        // background-repeat:no-repeat;
    }
    .img-last{
        // height:167px;
        // background-image:url('/assets/images/Recruitment.png');
        // background-size: 100% 100%;
        // background-repeat:no-repeat;
        img{
            width:100%;
        }
        
    }
    
}

.Know-more{
text-align:center;
   
    a{
        text-decoration:none;
        display:inline-block;
        height: 21px;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        padding-bottom:10px;
        color: #c5aa7f;
        span{
            padding-left:5px;
        }
    }
}

img{
   width:260px;
//    height:150px; 
   margin-top:26px;
}
.info{
    font-family: Nunito;
    font-size: 12px;
    color: #4a4a4a;
    
  
}
.circle-wrap.one{
    background-image:url("/assets/images/group-8.png");
    background-repeat:no-repeat;
    
}
.circle-wrap.two{
    background-image:url("/assets/images/group-5.png");
    background-repeat:no-repeat;
    
}
.circle-wrap{
    width:100%;
    height: 19px;
    font-family: NotoSans;
    font-size: 14px;
    text-align: left;
    color: #4a4a4a;
  padding-bottom:30px;
  background-repeat:no-repeat;
  
  background-image:url("/assets/images/group-11.png");
  border-bottom: 1px  solid #00c6c6;
  
.circle{
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid blue;
    padding-right:10px;
}
  }
  .group{
      height:419px;
    //  padding-top:20px;
     margin:0 auto;
     background-color:#e1e1e1;
     margin-top:30px; 
.image-backside{
    height: 226px;
  
    background-size:contain;
    background-image: url('https://res.cloudinary.com/shettycloud/image/upload/v1522054972/serviceimage/group-55_2x.png');
    background-repeat:no-repeat;
    background-position:center center;
    
}
     .info-contain{
      padding-left:40px;
      .service{
          width:205px;
        font-size: 14px;
        margin-top:20px;
        display:inline-block;

        border-bottom: 1px solid #00c6c6;
        padding-bottom:10px;
          }
          .one-service{
           
            background-image: url(' /assets/images/services/servicesicon.png');
            width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    display: inline-block;
    background-size: 20px 20px;
          }
     }
     .img-group{
         height:177px;
         position: relative;
         z-index:100;

     }
     p{
        font-family: NotoSans;
        font-size: 18px;
        color: #4a4a4a;
        
     }
     .sub-info{
         width:240px;
        font-size: 14px;
        // font-weight: 600;
     color: #4a4a4a;

     font-family:Nunito;
          }

     .Know-more{
        display:block;
        margin-top:16px;
        text-align:center;
       
        a{
            
            display:inline-block;
            height: 21px;
            font-family: Nunito;
            font-size: 16px;
            font-weight: 600;
            width:120px;
            height:30px;
            border: solid 1px #d7c4a7;
    border-radius: 4px;
            color: #c5aa7f;
            &:hover{
                background-color:#cab18b;
            }
            button{
                &:hover{
                    color:white;
                }
                width: 120px;
    height: 30px;
    color: #cab18b;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
            }

        }
    }
  }
}



































@media screen  and (min-width:768px){
    .captcha-wrapper{
       
        #g-recaptcha{
            transform:scale(0.5);
           -webkit-transform:scale(0.5);
           left:235px;
           top: -45px;
        }
    }

    .HomePage{
        .top-align{
            margin-top:0px;
        }
        .product-container.reverse-align{
            background-color:white;
        }
        .product-container{
            // display:flex;
            padding-top:4em;
            align-items: center;
             height:436px;
             width:100%;
             background-color: #f3f3f3;
             .max-padder{
                 padding-top:0px;
             }
             .sales-align{
                 padding-top:0px; 
             }
             .overflow-control{
                overflow:hidden;

             }
            .small-device{
                padding-top:0px;



            }
            .images-sale{
                width:902px;
                float:right;
                background-size:902px 380px;
                background-position: center left;
                background-image: url('https://res.cloudinary.com/shettycloud/image/upload/v1522061277/icons/LandingTab/group-8.png');
               height:380px;
                background-repeat:no-repeat;
        
            }
            .images-recruit{
                width:902px;
                 float:right;
                background-size:902px 380px ;
                background-repeat:no-repeat;
                background-image: url('https://res.cloudinary.com/shettycloud/image/upload/v1522065631/group-9_abexc2.png');

                height:380px;
            }
            .images-operation{
                width:902px;
                float:left;
                background-image: url('https://res.cloudinary.com/shettycloud/image/upload/v1522058299/operate_stvm1f.png');
                background-size:902px 380px;
               height:380px;            
                  background-position: center left;
                background-repeat:no-repeat;
            }
            .images-exp{
                 position: relative;
                 height:379px;
                 .child-wrapper{
                   float:right;
                 }
                .sale{
                    width:239px;
                    padding-top:3em;
                    padding-bottom:10px;
                    border-bottom: 1px solid #00c6c6;
                    p{
                        display:inline-block;
                        font-size:19px;
                    }
                    span{
                       background-size:30px 30px;
                        width:30px;
                        height:30px;
                      
                        top:10px;
                      
                    }

                }
                .all-info{
                    padding-top:16px;
                    width:274px;
                    font-family: Nunito;
                    font-size: 16px;
                    line-height:1.6;


                }
                a{
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 600;
                    text-align:left;
                    margin:0px;
                    width:169px;
                    height:41px;
                    color: #c5aa7f;
                    margin-top:30px;
                    button{
                        width:169px;
                        height:41px;
                    }

    
    
                }
               
            }
        }









           
        .resp-tab-content-active{
            background-color:white;
            
          }
        .name-padder{
            strong,.Founder{
                font-size:14px;
            }
        }
                .container{
                    padding-bottom:40px;
                    .slider-image{
                        padding-top:25px !important;
                    }
                    .row{
                        width:100%;
                        margin-top:30px;
                    }
                    .pad-setter{
                        padding-top:35px;
                        padding-bottom:15px;
                    }

                    img{
                        width:165px;
                        height:155px;
                        border-radius:50%;
                    }
                    p{
                        font-family: Nunito;
                        font-size: 16px;
                        color: #4a4a4a;
                        width:460px;
                        padding-left:35px;
                        
                    }
                    #quote-carousel {
                        padding: 0 10px 30px 10px;
                        margin-top: 30px;
                        text-align:center;
                      }
                      /* indicator position */
                      #quote-carousel .carousel-indicators {
                        right: 50%;
                        top: auto;
                        bottom: -10px;
                        margin-right: -19px;
                        margin-left:-15% !important;
                        
                      }
                      /* indicator color */
                      #quote-carousel .carousel-indicators li {
                        background: #c0c0c0;
                      }
                      /* active indicator */
                      #quote-carousel .carousel-indicators .active {
                        background: #333333;
                        height:10px;
                        width:10px;
                        margin-bottom:1px;
                      }
                      /* typography */
                      h1 {
                        text-align:center;
                        margin-bottom:-20px !important;
                      }
                      p {
                        font-style:italic;
                      }
                    
        
        
                }
                margin-top:100px;
                .main-page{
                    height:370px;
                }
                .tab-one{
                    width: 24px;
                height: 24px;
                background-color: #e0e0e0;
                
                border-radius: 50%;
                text-align: center;
                line-height: 1.9;
                display:inline-block;
                }
                .tab-text{
                   
                    color: #8c90a7;
                    font-size:12px;
                    padding-left:20px;

                        width:140px;
                    
                }
                .icon-size{
                    width:30px;
                    height:24px;
                    display:inline-block;
                    position:relative;
                    
                }
                .tab-oppur{

                  background-image:url("/assets/images/ring.svg");
                  background-repeat:no-repeat;
                }
                .tab-recruit{
                    background-image:url("/assets/images/search.svg");
                    background-repeat:no-repeat;
                    
                }
                .tab-market{
                    background-image:url("/assets/images/chart.svg");
                    background-repeat:no-repeat;
                    
                }
                .tab-absence{
                    background-image:url("/assets/images/office.svg");
                    background-repeat:no-repeat;
                    
                }
                .tab-accord-wrapper{
                    height:530px;
                }
                .row{
                    width:700px;
                    margin:0 auto;
                }
                .banner-img{
                    width:340px;
                    height:232px;
                    background-size:cover;
                    background-image:url('/assets/images/cover-image.png');
                }
                .banner-content{
                    height:99px;
                 width:188px;
                 margin:0 auto;
                 margin-left:30px;
                 margin-top:30px;

                 
                 p{
                    width:188px;
                    font-family: NotoSans;
                    font-size: 22px;
                    color: #000000;
                    text-align:left;
                    span{
                        color: #00c6c6;
                        
                    }
                 }
                }
                .info{
                    margin-top:20px;
                    .row{
                        width:280px;
                        p{
                            width:313px;
                            font-family: Nunito;
                            font-size: 16px;
                            font-weight: 200;
                            text-align:left;
                            color: #4a4a4a;
                            
                        }
                    }
                }
                .banner-btn{
                    .row{
                        width:210px;
                        margin:0 auto;
                        
                    
                        a{
                            display:inline-block;
                            width:175px;
                            height: 41px;
                            border-radius: 4px;
                            background-color: #00c6c6;
                          
                          button{
                            width: 175px;
                            height: 19px;
                            font-family: Nunito;
                            font-size: 14px;
                            padding:11px 35px;
                            text-align: center;
                            color: #ffffff;
                            font-weight:bold;
                            outline:none;
                            border:none;
                            background-color: #00c6c6;
                            
                          }
                        }
                    }
                }
        .details.row{
                width:100%;
                height: 110px;
                .img-container{
                    width:388px;
                    height:111px;
                p{
                    font-size:16px;
                    padding-top:10px;
                }
                    img{
                        width:45px;
                        height:60px;
                    }
                }
       
            }
            .Accordion-title{
                padding-top:64px;
                padding-bottom:64px;
                .customer-centric{
                    padding-top:18px;
                    display:block;
                    width: 595px;
                    font-family: Nunito;
                    font-size: 14px;
                    text-align: center;
                    color: #8c90a7;
                    margin:0 auto;
                }
                .title{
                    width: 414px;
                    font-size: 24px;
                    text-align: center;
                    color: #4a4a4a;
                    margin:0 auto;
                    color: #000000;
                    
                }
            }
            .image-description.color{
                background-color: #f3f3f3;
                 
             }
            
           
             .set-color{
                 background-color: white;
             }
        .image-description{
            padding-left:0px !important;
            padding-right:0px !important;
            width:700px;
            margin:0 auto;
            margin-top:0px;
            padding-top:55px;

            .mobile-only{
                display:none;
            }
            .from-tab{
              display:block;
            }
            .img-first{
                width: 270px;
                height: 239px;
               
            }
            .img-next{
                width: 270px;
                height: 239px;


            }
            .img-last{
                width: 270px;
                height: 239px;

              
                
            }
            .pull{
                float:right;
            }
        .ipad{
            float:right;
            margin-top:15px;
        }
        .mypod{
            float:left;
            
        }
        }
        .Know-more{
            display:block;
            margin-top:15px;
            text-align:left;
            
           
            a{
                text-align:left;
                display:inline-block;
                height: 21px;
               
                font-family: Nunito;
                font-size: 16px;
                font-weight: 600;
              
                color: #c5aa7f;
                span{
                    padding-left:5px;
                }
            }
        }
        
        img{
           width:260px;
           height:239px; 
           margin-top:0px;
        }
        .info{
            font-family: Nunito;
            font-size: 14px;
            color: #4a4a4a;
            width:274px;
            object-fit: contain;
            font-family: Nunito;
            font-size: 14px;
          
          
        }
        .circle-wrap{
            width:241px;
            height: 35px;
            font-family: NotoSans;
            font-size: 14px;
            text-align: left;
            color: #4a4a4a;
          padding-bottom:30px;
          border-bottom: 1px  solid #00c6c6;
          
        .circle{
            width:100px;
            height:100px;
            border-radius:50%;
            border:2px solid blue;
            padding-right:10px;
        }
          }
          .group{
             padding-top:0px;
            width:100%;
            height:440px;
            margin:0 auto;
            margin-top:0px; 
            .services-page{
                height:440px;
                width:700px;
                margin:0 auto;
                padding-top:137px;
                position: relative;
            }
            .sub-info{
                width: 280px;
                font-size: 16px;
                line-height:1.6;
            }
            .info-contain{
                padding-left:0px;
                width:280px;
                .service{
                    font-size:19px;
                    width:80%;
                    padding-bottom:10px;

                }
            }
            .image-backside{
                float:right;
                width:428px;
                height:303px;
                position: absolute;
                right:20px;
                bottom:0; 
            }
           
             p{
                font-family: NotoSans;
                font-size: 18px;
                color: #4a4a4a;

             }
             .Know-more{
                display:block;
                text-align:left;
               
                a{
                    
                    display:inline-block;
                    height: 21px;
                    width:169px;
                    height:41px;
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 600;
                    border: solid 1px #d7c4a7;
                    color: #c5aa7f;
                    &:hover{
                        background-color:#c5aa7f;
                    }
                    button{
                        width:169px;
                        height:41px;
                        &:hover{
                            color:white;
                        }
                    }

                }
            }
          }
        }
    
}









@media screen and (min-width:1024px){
    .captcha-wrapper{

        #g-recaptcha{
            transform:scale(0.6);
           -webkit-transform:scale(0.6);
           left: 380px;
            top:-45;

        }
    }


    .HomePage{
     
        .product-container{
            padding-top:4em;
            align-items: center;
             height:692px;
             background-color: #f3f3f3;
            .max-padder{
                padding-top:144px;
            }
            .images-sale{

                float:right;
                width:1299px;

                height:636px;
                background-size:1281px 636px;
                background-image: url("https://res.cloudinary.com/shettycloud/image/upload/v1522057543/group-2_gdtkol.png");
                background-repeat:no-repeat;
        
            }
            .images-recruit{
                width:1299px;
                height:635px;
                background-image:url("https://res.cloudinary.com/shettycloud/image/upload/v1522065514/group-5_tttzuy.png");
                 float:right;
                 width:1299px;
                 background-size:1281px 635px;
                background-repeat:no-repeat;
            }
            .images-operation{
                width:1299px;
                height:636px;
                background-image:url('https://res.cloudinary.com/shettycloud/image/upload/v1522057782/group-6_c4jskh.png');



                background-size:1281px 636px;


                background-repeat:no-repeat;
            }
            .images-exp{
                .sale{
                    width:239px;
                    padding-bottom:10px;
                    border-bottom: 1px solid #00c6c6;
                    p{
                        display:inline-block;
                        padding-left:5px;

                        font-size:22px;
                    }
                    span{
                       top:10px;
                        width:30px;
                        height:30px;
                       
                    }

                }
                .all-info{
                    padding-top:16px;
                    width:274px;
                    font-family: Nunito;
                    font-size: 18px;
                    line-height:1.7;
                    color:black;

                }
                a{
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 4px;
                    margin: 0px;
                   width:170px;
                   height:41px;
                    text-decoration: none;
                    color: #c5aa7f;

                    margin-top:30px;

                }
            }
        }

















        .name-padder{
            strong,.Founder{
                font-size:15px;
            }
        }
        .resp-tabs-container{
            width:409px !important;
            border:none !important;
            margin-left:74px;
        }
        .resp-tabs-list{
            width:310px !important;
            height:288px;
        }
        .tab-text {
            width:180px;
            span
            {
            font-size:16px;
            display:inline-block;
            width:200px;
            color: #8c90a7;
            font-weight:normal;

            }
        }
          .resp-vtabs li.resp-tab-active {
         border:none !important;
         background-color: #f2f2f2;
         
    }
    .tab-accord-wrapper{
        height:618px;
    }
                .container{
                    padding-bottom:64px;
                    .slider-image{
                        padding-top:70px !important;
                    }
                    .row{
                        width:100%;
                        margin-top:0px;
                    }
                    img{
                        width:165px;
                        height:155px;
                        border-radius:50%;
                    }
                    p{
                        margin-top:40px;
                        font-family: Nunito;
                        font-size: 16px;
                        color: #4a4a4a;
                        width:460px;
                        padding-left:35px;
                        
                    }
                    #quote-carousel {
                        padding: 0 10px 30px 10px;
                        padding-bottom:64px;
                        margin-top: 30px;
                        text-align:center;
                      }
                      /* indicator position */
                      #quote-carousel .carousel-indicators {
                        right: 50%;
                        top: auto;
                        bottom: -10px;
                        margin-right: -19px;
                      }
                      /* indicator color */
                      #quote-carousel .carousel-indicators li {
                        background: #c0c0c0;
                      }
                      /* active indicator */
                      #quote-carousel .carousel-indicators .active {
                        background: #333333;
                        height:10px;
                        width:10px;
                        margin-bottom:1px;
                      }
                      /* typography */
                      h1 {
                        text-align:center;
                        margin-bottom:-20px !important;
                      }
                      p {
                        font-style:italic;
                      }
                    
        
        
                }
                margin-top:100px;
                .row.main-page{
                    width:925px;
                    height:445px;
                    margin:0 auto;
                }
                .banner-img{
                    width:469px;

                    height:320px;
                    background-size:cover;
                    background-image:url('/assets/images/cover-image.png');
                }
                .banner-content{
                    // height:99px;
                 width:260px;
                 margin:0 auto;
                 margin-left:43px;
                 margin-top:30px;

                 
                 p{
                     width:253px;
                    font-family: NotoSans;
                    font-size: 32px;
                    color: #000000;
                    span{
                        color: #00c6c6;
                        
                    }
                 }
                }
                .info{
                    margin-top:20px;
                    .row{
                        width:375px;
                        p{
                            font-family: Nunito;
                            font-size: 20px;
                            font-weight: 200;
                            color: #4a4a4a;
                            line-height:1.5;
                            
                        }
                    }
                }
                .banner-btn{
                    .row{
                        width:210px;
                        margin:0 auto;
                        margin-top:30px;
                        margin-left:0px;
                    
                        a{
                          
                            width:180px;
                            height: 41px;
                            border-radius: 4px;
                            :hover{
                                box-shadow: 0 0 11px rgba(33,33,33,.2); 
                                transform:scale(1.05);
                                transition:all .4s;
                                // margin-left:7px;

                            }

                          button{
                            width: 180px;
                            height: 41px;
                            font-family: Nunito;
                            font-size: 14px;
                            padding:11px 35px;
                            text-align: center;
                            color: #ffffff;
                            font-weight:bold;
                            outline:none;
                            border:none;
                            background-color: #00c6c6;
                            
                          }
                        }
                    }
                }
        .details.row{
                width:100%;
                height: 150px;
                margin-top:0px;
                .img-container {
                    width:524px;
                    height:150px;
                img {
                    width:58px;
                    height:88px;
                }
            }
            }
            .Accordion-title{
                padding-top:52px;
                padding-bottom:70px;
                .customer-centric{
                    width:777px;
                    font-size:18px;
                }
                .title{
                    font-size: 24px;
                    text-align:center;
                    color: #4a4a4a;
                    margin:0 auto;
                    color: #000000;
                    
                }
            }
            .Accordion-content{
                margin-top:30px;
                .Accordion-btn {
                    background-color: #f2f2f2;
                    color: #444;
                    cursor: pointer;
                    padding: 18px;
                    padding-left:28px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                    transition: 0.4s;
                     height: 16px;
                    font-family: Nunito;
                    font-size: 12px;
                    font-weight: bold;
                     color: #000000;
                      
                }
                
                // .active,.Accordion-btn:hover {
                //     background-color: #ccc;
                // }
                
                .Accordion-btn:after {
                    content: '<';
                    color: #777;
                    font-weight: bold;
                    transform:rotate(90deg);
                    float: right;
                    margin-left: 5px;
                    width: 12px;
                    height: 7px;
                    
                }
                
                .active:after {
                    // content: "#65085";
                    transform:rotate(270deg);
                }
                .content-open{
                    padding-top:20px;
                }
              
            }
            .image-description.color{
                background-color: #f3f3f3;
                margin-top:0px;                 
             }

        .image-description{ 
            width:950px;
            height:399px;
            .device-change{
                margin-top: 60px;
                position: relative;
                padding-left:58px !important;
            }
            .img-first,.img-next,.img-last{
                width:469px;
                height:399px;
            }
            .img-next{
                height:346px;
            }
            margin:0 auto;
            padding-top:70px;
            height:415px;
            
        .ipad{
            margin-right:55px;
            margin-top: 80px;
            text-align:left;
            a{
                text-align:left;
            }
        }
        .mypod{
            float:left;
            width:469px;
            height:399px;
            
        }
        }
        .Know-more.ipad{
            margin-top:0px;
        }
        .Know-more{
            display:block;
            margin-top:15px;
            text-align:left;
            
           
            a{
                display:inline-block;
                height: 21px;
                font-family: Nunito;
                font-size: 16px;
              
                font-weight: 600;

                color: #c5aa7f;
                span{
                    padding-left:5px;
                }
            }
        }
        
        img{
            width: 345px;
            height: 399px;
           margin-top:0px;
        }
        .info{
            font-family: Nunito;
            font-size: 16px;
            color: #4a4a4a;
            width:274px;
            object-fit: contain;
            width: 388px;
          
          
        }
        .circle-wrap{
            width:241px;
            height: 35px;
            font-family: NotoSans;
            font-size: 14px;
            text-align: left;
            color: #4a4a4a;
          padding-bottom:30px;
          border-bottom: 1px  solid #00c6c6;
          
        .circle{
            width:100px;
            height:100px;
            border-radius:50%;
            border:2px solid blue;
            padding-right:10px;
        }
          }
          .group{
              padding-top:0px;
              margin-top:20px;
            width:100%;
            height:722px;
            margin:0 auto;
            .services-page{
                position:relative;
                
                height:722px;
                // width:950px;
                width:960px;
                padding-top:270px;
                margin:0 auto;
                .image-backside{
                    width:758px;
                    height:547px;
                    background-image: url('http://res.cloudinary.com/shettycloud/image/upload/v1522054862/serviceimage/servicepage/group-55_3x.png');
                    right:0;
                }

            }
            .info-contain{
                padding-left:0px;
                .service{
                    width:239px;
                  font-size: 22px;
                  border-bottom: 1px solid #00c6c6;
                  padding-bottom:10px;
                    }
                    .one-service{
                        height:30px;
                        width:30px;
                        background-repeat:no-repeat;
                        background-size: 30px 30px;
                    }
               }
          
             .sub-info{

                font-family:Nunito;
                font-size: 18px;
                color:black;
                width:310px;
                line-height:1.7;
                
             }
             .Know-more{
                display:block;
               
                a{
                    
                    display:inline-block;
                    height: 21px;
                    font-family: Nunito;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 4px;
                     margin-top:10px;
                     width:170px;
                     height:41px;
                    color: #c5aa7f;
                    button{
                        width: 169px !important;
    height: 41px !important;
    color: #cab18b;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
                    }
                }
            }
          }
        }
    






}