 {% include head.html %}


 <div class="HomePage">
<div class="row main-page">
<div class="banner-img col-xs-12 col-sm-6">
</div>
<div class="banner-content col-xs-12 col-sm-6">
<p>Your company’s biggest asset are <span> your people</span></p>

<div class="info visible-sm visible-md visible-lg ">
    <div class="row set-desk">
    <p>Use “Machine Intelligence” to find, hire,
        manage and retain your best talents.</p>
    
    </div>
    
    </div>
    <div class="banner-btn  visible-sm visible-md visible-lg">
        <div class="row">
    <a href="#"><button>Request Demo</button></a>
        </div>
    </div>
</div>

</div>
<div class="info visible-xs">
<div class="row">
<p>Use “Machine Intelligence” to find, hire,
    manage and retain your best talents.</p>

</div>

</div>
<div class="banner-btn visible-xs">
    <div class="row">
<a href="#"><button>Request Demo</button></a>
    </div>
</div>

<div class="details row">
 <div class="img-container">
<img src="/assets/images/group-45.png"/>
<img src="/assets/images/group-49.png"/>

<img src="/assets/images/group-31.png"/>

 </div>
</div>
<div class="tab-accord-wrapper">
  
<div class="Accordion-title row">
<p class="title">Tight corners of job market</p>

</div>

<div id="verticalTab">
    <ul class="resp-tabs-list">
    <li><div  style="display:inline-block"><span class="tab-oppur icon-size"></span></div><div class="tab-text"><span>Lurk opportunity</span></div></li>
    <li><div style="display:inline-block"><span class="tab-recruit icon-size"></span></div><div class="tab-text"><span>Recruiter Productivity & Queue in Hiring</span></div></li>
    <li><div style="display:inline-block"><span class="tab-market icon-size"></span></div><div class="tab-text"><span>Market Variability</span></div></li>
    <li><div style="display:inline-block"><span class="tab-absence icon-size"></span></div><div class="tab-text"><span>Absense Of Cadence</span></div></li>
    </ul>
    <div class="resp-tabs-container">
    <div>

      <img class="tab-data" src="/assets/images/shakehand.png"/>
    <p> Sorting out which leads have good potential and which don’t, makes a world of difference to your business.</p>
    </div>
    <div>
     <img class="tab-data" src="/assets/images/shakehand.png"/>
    <p>Content Sorting out which leads have good potential and which don’t, makes a world of difference to your business.</p>
    </div>
    <div>
      <img class="tab-data" src="/assets/images/shakehand.png"/>   
    <p> ChangingSorting out which leads have good potential and which don’t, makes a world of difference to your business.</p>
    </div>
    <div>
     <img class="tab-data" src="/assets/images/shakehand.png"/> 
    <p> great Sorting out which leads have good potential and which don’t, makes a world of difference to your business.</p>
    </div>
    </div>
    </div>
    </div>




























<div class="image-description  first-grid  color col-sm-12">
<div class="col-sm-5 ipad">
<p class="circle-wrap"></p>

<p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
</div>

<div class="col-sm-7 mypod  img-first">
  
<!-- <img src="/assets/images/group-9.jpg"> -->
</div>
<div class="Know-more col-sm-6 col-md-5 ipad"><a>Know More <span> ></span></a></div>

</div>
<div class="image-description col-sm-12">
  <div class="col-sm-5 device-change">
    
<p class="circle-wrap one"></p>

<p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
<div class="Know-more col-sm-6  visible-sm visible-md visible-lg  nopadding"><a>Know More <span> ></span></a></div>

</div>
<div class="col-sm-7 pull  img-next nopadding">
  
<!-- <img  class="pull" src="/assets/images/operations.png"> -->
</div>
<div class="Know-more ipad col-sm-6 visible-xs"><a>Know More <span> ></span></a></div>

</div>
<div class="image-description color  col-sm-12">
  <div class="col-sm-5 ipad">
  <p class="circle-wrap two"></p>
  
  <p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
  </div>
  
  <div class="col-sm-7 img-last mypod">
    
  <!-- <img src="/assets/images/group-46.png"> -->
  </div>
  <div class="Know-more col-sm-6 col-md-5 ipad"><a>Know More <span> ></span></a></div>
  
  </div>

<div class="group col-sm-12 nopadding">
  <div class="image-backside">

  </div>

<div class="img-group">
  <div class="info-contain">
    <p class="service">Our Services</p>
    <p class="sub-info">Let our dedicated network of talent experts help you hire critical talent fast.</p>
    <div class="Know-more" style="text-align:left"><a>Know More <span> ></span></a></div>
    </div>

</div>

</div>








<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">

<!-- Quote 1 -->
<div class="item active">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/mobile.jpg">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding pad-setter">
       
      <p><span><i class="fas fa-quote-left"></i></span>
        Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
      <div class="name-padder"><small ><stronng >Vulputate M., Dolor</strong></small></div>
      </div>
  </div>
</div>

<!-- Quote 2 -->
<div class="item">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/mobile.jpg">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding pad-setter">
       
      <p> <span><i class="fas fa-quote-left"></i></span>
        Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
      <div class="name-padder"><small><strong   class="name-padder">Vulputate M., Dolor</strong></small></div>
      </div>
  </div>
</div>

<!-- Quote 3 -->
<div class="item ">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/mobile.jpg">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding pad-setter">
       
      <p><span><i class="fas fa-quote-left"></i></span>
        Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
     <div    class="name-padder"> <small><strong>Vulputate M., Dolor</strong></small></div>
      </div>
  </div>
</div>
</div>
        

      </div>                          
    </div>
  </div>
</div>











 </div>
 <script>
$(document).ready(function(){
  $('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});


  
})
   
        var acc = document.getElementsByClassName("Accordion-btn");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            panel.classList.toggle("content-open");
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
{% include footer.html %}
