 {% include head.html %}


 <div class="HomePage">
<div class="row">
<div class="banner-img col-xs-12 col-sm-6">
</div>
<div class="banner-content col-xs-12 col-sm-6">
<p>Your company’s biggest asset are <span> your people</span></p>
</div>

</div>
<div class="info">
<div class="row">
<p>Use “Machine Intelligence” to find, hire,
    manage and retain your best talents.</p>

</div>

</div>
<div class="banner-btn">
    <div class="row">
<a href="#"><button>Request Demo</button></a>
    </div>
</div>
<!-- <div class="slick-slider">
    <div class="row" id="carousel" class="single-item">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
            <img src="../assets/images/exp3.png" class="product__img2">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
                <a href="https://groome.co/" target="_blank">
                <img src="./assets/images/exp2.png" class="product__img2"></a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 product__allign">
                <a href="https://enigma.hashworks.co/" target="_blank">
                <img src="./assets/images/exp1.png" class="product__img2"></a>
        </div>
    </div>

</div> -->
<div class="details row">
  <div class="icon-container">
<div class="col-xs-4">
   <img src="https://cdn1.iconfinder.com/data/icons/crowns/154/monarch-crown-512.png" width="30px" height="30px">
</div>
<div class="col-xs-4">
        <img src="https://cdn1.iconfinder.com/data/icons/crowns/154/monarch-crown-512.png" width="30px" height="30px">
        
    
</div>
<div class="col-xs-4">
        <img src="https://cdn1.iconfinder.com/data/icons/crowns/154/monarch-crown-512.png" width="30px" height="30px">
        
    
</div>

</div>
</div>
<div class="Accordion-title row">
<p class="title">Tight corners of job market</p>

</div>

<div class="Accordion-content">
        <button class="Accordion-btn">Lurk opportunity</button>
        <div class="main-content">
          <p>Sorting out which leads have good potential and which don’t, makes a world of difference to your business.
            </p>
        </div>
        
        <button class="Accordion-btn">Recruiter Productivity & Queue in Hiring</button>
        <div class="main-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <button class="Accordion-btn">Market Variability</button>
        <div class="main-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
         
        <button class="Accordion-btn">Absense Of Cadence</button>
        <div class="main-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

</div>

<div class="image-description   color col-sm-12">
<div class="col-sm-6 ipad">
<p class="circle-wrap"></p>

<p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
</div>

<div class="col-sm-6 mypod ">
  
<img src="/assets/images/group-9.jpg">
</div>
<div class="Know-more col-sm-6 ipad"><a>Know More <span> ></span></a></div>

</div>
<div class="image-description col-sm-12">
  <div class="col-sm-6">
    
<p class="circle-wrap one"></p>

<p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
<div class="Know-more col-sm-6 visible-sm visible-md visible-lg  nopadding"><a>Know More <span> ></span></a></div>

</div>
<div class="col-sm-6 pull nopadding">
  
<img  class="pull" src="/assets/images/group-12.jpg">
</div>
<div class="Know-more col-sm-6 visible-xs"><a>Know More <span> ></span></a></div>

</div>
<div class="image-description  color  col-sm-12">
  <div class="col-sm-6 ipad">
  <p class="circle-wrap two"></p>
  
  <p class="info">Pursuing leads in vain , recruiter unproductivity, stale job posts, Innovation & Disruptive tech landscape and absence of a bird’s  eye view are all symptoms.</p>
  </div>
  
  <div class="col-sm-6 mypod">
    
  <img src="/assets/images/group-46.png">
  </div>
  <div class="Know-more col-sm-6 ipad"><a>Know More <span> ></span></a></div>
  
  </div>

<div class="group col-sm-12">

<div class="img-group">
  <div class="info-contain">
    <p class="service">Our Services</p>
    <p class="sub-info">Let our dedicated network of talent experts help you hire critical talent fast.</p>
    <div class="Know-more"><a>Know More <span> ></span></a></div>
    </div>

</div>

</div>


<!-- Slider Testimony -->


<!-- <section id="carousel">    				
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <!-- <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="5"></li>
				  </ol>
				  <!-- Carousel items -->
				  <!-- <div class="carousel-inner">
				    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>	
				    </div>
				    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
				    <div class="active item">
                        <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
				    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
    			    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
    			    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
				    	</blockquote>
				    </div>
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
    			    	<blockquote>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
              </blockquote>
              

</div>
</div>
</div>
</div>
</div>
</div>
</section> -->





<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">

<!-- Quote 1 -->
<div class="item active">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/1.png">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding">
       <span><i class="fas fa-quote-left"></i></span>
       
      <p>&ldquo;Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
      <small><strong>Vulputate M., Dolor</strong></small>
      </div>
  </div>
</div>

<!-- Quote 2 -->
<div class="item">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/1.png">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding">
       <span><i class="fas fa-quote-left"></i></span>
       
      <p>&ldquo;Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
      <small><strong>Vulputate M., Dolor</strong></small>
      </div>
  </div>
</div>

<!-- Quote 3 -->
<div class="item ">
  <div class="row">
    <div class=" col-xs-12 col-sm-4 nopadding">
       <img src="/assets/images/1.png">
      </div>
      <div class=" col-xs-12 col-sm-8 nopadding">
       <span><i class="fas fa-quote-left"></i></span>
       
      <p>&ldquo;Companies with talent as thier driving force know that bringing the right context at each level of people management helps them increase positive impact.&rdquo;</p>
      <small><strong>Vulputate M., Dolor</strong></small>
      </div>
  </div>
</div>
</div>
        

      </div>                          
    </div>
  </div>
</div>











 </div>
 <script>
        var acc = document.getElementsByClassName("Accordion-btn");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            panel.classList.toggle("content-open");
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
{% include footer.html %}
