{% include head.html %}
<div class="operation-wrapper">

            <div class="banner">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-6 col-md-6">

                    </div> 
                    <div class="col-xs-12 col-sm-6 col-md-6 banner-right1">
                            <div class=" bannerHeading">
                                    <img src="/assets/images/operation/operationicon.png" class="sale-icon">
                                    <span>Operations</span>
                                </div>
                                
                                    <div class="sales-content">
                                            Build talent pools, power collaboration and drive better decisions with predictive analytics.
                                    </div>
                            
                                
                                    <button class="btn salesBtn" data-toggle="modal" data-target="#ContactModal">
                                        Request Demo
                                    </button>
                            
                    </div>
                </div>

                </div>
            </div>
           

             <div class="maincontent">
                <div class="container">
                        <div class="row bannerrow">
                            <div class="col-xs-12 sales-subheading">
                                    Accelerate Passive recruiting
                            </div>
                            <div class="col-xs-12 sales-subcontent">
                                    Beamery’s Talent CRM lets companies engage with passive candidates long before they apply. Deeply integrated with all of your other recruiting systems, Beamery is your single source of truth for every candidate relationship, tracking every touchpoint with your business, and enabling your team to make talent a strategic advantage and significantly reduce hiring cycles.
                            </div>
                            <div class="tabbed-content">

                                <div class="col-xs-12 tabButtonsGroup">

                                        <nav class="tabs">
                                                <ul>
                                                    <li>
                                                        <a href="#tab1" class="active tb1">
                                                            <i class="fas fa-users"></i>
                                                            <span>Workbench</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab2" class="tb2">
                                                            <i class="fas fa-users"></i>
                                                            <span>Supply Chain</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab3" class="tb3">
                                                            <i class="fas fa-users"></i>
                                                            <span>Talent Pool</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                 </div>

                            
                            <section id="tab1" class="item active" data-title="Tab 1">
                                <div class="accordian-heading" id="accr-heading1">
                                    <div class="accor-container">
                                       <hr>
                                    <span>Workbench</span>
                                    <span class="accor-icon-active">
                                        </span>
                                    </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-1" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                Talent workbench
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Paperless onboarding
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Grooms captures candidate details right from the start. Discover the social footprint and enable single point documentation of your prospective hire to simplify their on-boarding process.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Employee data governance
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Avoid data loss and information overlap. Establish robust processes across your organization and ensure data integrity in managing employee information.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Project resource mapping
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Capacity planning should not be detrimental for your project sucess. Ensure high availability of talent pool, for all your projects that are in pipeline to maximize your customer wins.
                                            </div>
                                        </div>
                    
                    
                                    </div>
                                    <div id="accr-img-1" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>

                            <section id="tab2" class="item" data-title="Tab 2">
                                <div class="accordian-heading">
                                        <div class="accor-container">
                                               
                                    <span>Supply Chain</span>
                                    <span class="accor-icon-inactive">
                                        </span>
                                        </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-2" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                Talent supply chain
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Shared economy on talent pool
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Engage with your vendor effectively. Get access to a shared pool of talents. Handle requirements with ease and deliver consistently
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Reduce cost & time to hire
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Increase your response time on requirement by mining your existing database, identifying prospective candidates for future roles and keeping them warm.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Meet your hiring targets
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Meet your hiring target by creating talent reserve to cover future hiring opportunities and ensuring you never start a search from scratch.
                                            </div>
                                        </div>
                    
                    
                                    </div>
                                    <div id="accr-img-2" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>
                            <section id="tab3" class="item" data-title="Tab 3">
                                <div class="accordian-heading">
                                        <div class="accor-container">
                                               
                                    <span>Talent Pool</span>
                                    <span class="accor-icon-inactive">
                                        </span>
                                        </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-3" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                Talent pool management
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Project planning & Resource utilization
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Groome helps you manage cost centers and projects. Track project cost and burn on resource utilization and drive each project to a profitable closure.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    visibility to resource pipeline
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Groome gives you complete visibility on your talent pool. Have a birds eye view on the talent distribution across your bench, ATS and vendors with cost drivers.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    leverage talent mining
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Groome regularly keeps applicant profiles up to date with their professional information and recommends candidature for open job positions.
                                            </div>
                                        </div>
                                    </div>
                                    <div id="accr-img-3" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>
                            
                        </div>
                         </div>
                </div>
            </div>


</div>
{% include footer.html %}