{% include head.html %}
<div class="sales-wrapper">
   <div class="banner">
      <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 banner-right1">
               <div class=" bannerHeading">
                  <img src="/assets/images/sales/saleIcon.svg" class="sale-icon">
                  <span>Sales</span>
               </div>
               <div class="sales-content">
                Have deeper insights and cultivate your relationships with your clients and prospects.
               </div>
               <button class="btn salesBtn" data-toggle="modal" data-target="#ContactModal">
               Request Demo
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="maincontent">
      <div class="container">
         <div class="row bannerrow">
            <div class="col-xs-12 sales-subheading">
              Increase your sales productivity by visualizing the data
            </div>
            <div class="col-xs-12 sales-subcontent">
              Enabling your entire organization to build relationships with accurately forecast pipeline and revenue growth. You can close the loop between sales and recruiting, increase adoption of your front office systems, and gain visibility into your clients' changing business needs. Every customer touch-point becomes an opportunity to connect and strengthen your existing and future relationships. 
            </div>
            <div class="tabbed-content">
               <div class="col-xs-12 tabButtonsGroup">
                  <nav class="tabs">
                     <ul>
                        <li>
                           <a href="#tab1" class="active tb1">
                              <span class="icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 15 16">
                                    <g class="iconsvg" fill="none" fill-rule="evenodd" stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                       <path d="M13.93 10.483c-.935 2.585-3.371 4.427-6.228 4.427-3.667 0-6.64-3.034-6.64-6.777 0-2.863 1.74-5.311 4.197-6.304L6.933 9l6.998 1.483z"/>
                                       <path d="M14.273 8.37L8.661 7.12 7.178 1.064s7.163 0 7.095 7.306zM7.848 3.797l1.975-2.22M8.625 5.887l2.845-3.2M10.17 7.076l2.648-2.978M11.98 7.852l1.773-2.034"/>
                                    </g>
                                 </svg>
                              </span>
                              <span>Dashboard</span>
                           </a>
                        </li>
                        <li>
                           <a href="#tab2" class="tb2">
                              <span class="icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 16 10">
                                    <g class="iconsvg" fill="none" fill-rule="evenodd" stroke="#4A4A4A" stroke-linecap="round" stroke-linejoin="round">
                                       <path d="M4.648 4.682c0 .661-.553 1.197-1.235 1.197-.683 0-1.236-.536-1.236-1.197 0-.66.553-1.196 1.236-1.196.682 0 1.235.535 1.235 1.196zM1.05 9.476V9.06c0-1.264 1.058-2.29 2.363-2.29s2.363 1.026 2.363 2.29v.417M13.423 4.682c0 .661-.553 1.197-1.235 1.197-.683 0-1.236-.536-1.236-1.197 0-.66.553-1.196 1.236-1.196.682 0 1.235.535 1.235 1.196zM9.824 9.476V9.06c0-1.264 1.059-2.29 2.364-2.29s2.363 1.026 2.363 2.29v.417M8.923 1.87c0 .66-.553 1.196-1.235 1.196-.683 0-1.235-.536-1.235-1.197 0-.66.552-1.197 1.235-1.197.682 0 1.235.536 1.235 1.197zM5.325 6.663v-.417c0-1.264 1.058-2.29 2.363-2.29s2.363 1.026 2.363 2.29v.417"/>
                                    </g>
                                 </svg>
                              </span>
                              <span>Collaboration</span>
                           </a>
                        </li>
                        <li>
                           <a href="#tab3" class="tb3">
                              <span class="icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 14 15">
                                    <g class="iconsvg" fill="none" fill-rule="evenodd" stroke="#4A4A4A" stroke-linecap="round" stroke-width="1.2">
                                       <path d="M8.059 4.706a3.706 3.706 0 1 1-7.412 0 3.706 3.706 0 0 1 7.412 0zM.647 14.176c0-2.274 1.66-4.117 3.706-4.117 2.046 0 3.706 1.843 3.706 4.117H.647z"/>
                                       <path d="M7.235 1c2.275 0 4.118 1.66 4.118 3.706 0 2.046-1.843 3.706-4.118 3.706M8.882 10.059A4.117 4.117 0 0 1 13 14.176h-2.675"/>
                                    </g>
                                 </svg>
                              </span>
                              <span>Leads</span>
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <section id="tab1" class="active item" data-title="Tab 1">
                    <div class="accordian-heading">
                       <div class="accor-container">
                          <span>Dashboard</span>
                          <span class="accor-icon-active">
                          </span>
                       </div>
                    </div>
                    <div class="item-content row">
                       <div id="accr-text-3" class="col-sm-6 col-xs-12 leftside">
                          <div class="tab-heading">
                             Run customer centric business
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Gain intelligence on your customer sentiments
                             </div>
                             <div class="tab-info-content">
                                Sense your customer’s pulse. Understand which opportunities will come through and build your sales pipeline.
                             </div>
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Cherry pick leads, make deals
                             </div>
                             <div class="tab-info-content">
                                Pick leads which are ready to be cracked and keep an eye on those stale leads before they are lost.
                             </div>
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Capture your customer needs in a single view
                             </div>
                             <div class="tab-info-content">
                                Track multiple opportunities for single lead. Have information available at your finger tips on your what the customer needs.
                             </div>
                          </div>
                       </div>
                       <div id="accr-img-3" class="col-sm-6 col-xs-12 rightside">
                          <div class="tab-image-desk img-t3-desktop"></div>
                          <img class="tab-image-mob img-t3-mobile" src="https://res.cloudinary.com/dngpsvrmd/image/upload/v1522085374/sales/tabImage3.png">
                       </div>
                    </div>
                 </section>
               <section id="tab2" class="item" data-title="Tab 2">
                  <div class="accordian-heading">
                     <div class="accor-container">
                        <span>Collaboration</span>
                        <span class="accor-icon-inactive">
                        </span>
                     </div>
                  </div>
                  <div class="item-content row">
                     <div id="accr-text-2" class="col-sm-6 col-xs-12 leftside">
                        <div class="tab-heading">
                           Collaborate in real time
                        </div>
                        <div class="row tab-info">
                           <div class="tab-info-title">
                              Manage workflows, have relevant conversations
                           </div>
                           <div class="tab-info-content">
                              View multiple opportunities for a single lead. Manage each of them across their stages from discovery to win.
                           </div>
                        </div>
                        <div class="row tab-info">
                           <div class="tab-info-title">
                              Schedule meetings, get smarter in your follow up
                           </div>
                           <div class="tab-info-content">
                              Meet clients on the go. Document your conversations to drive relevant engagements with them and push your leads to a winning closure.
                           </div>
                        </div>
                        <div class="row tab-info">
                           <div class="tab-info-title">
                              Team up on tasks to set up streamlined ‘events’
                           </div>
                           <div class="tab-info-content">
                              Collaborate on tasks and deliver successful customer demos. Never lose an opportunity and make every conversation count.
                           </div>
                        </div>
                     </div>
                     <div id="accr-img-2" class="col-sm-6 col-xs-12 rightside">
                        <div class="tab-image-desk img-t2-desktop"></div>
                        <img class="tab-image-mob img-t2-mobile" src="assets/images/sales/group-3@3x.png">
                     </div>
                  </div>
               </section>
               <section id="tab3" class="item" data-title="Tab 3">
                    <div class="accordian-heading" id="accr-heading1">
                       <div class="accor-container">
                          <hr>
                          <span>Leads</span>
                          <span class="accor-icon-inactive">
                          </span>
                       </div>
                    </div>
                    <div class="item-content row">
                       <div id="accr-text-1" class="col-sm-6 col-xs-12 leftside">
                          <div class="tab-heading">
                             Maximise lead to conversion ratio
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Uncover insights, know your priority
                             </div>
                             <div class="tab-info-content">
                                Prioritize on quality leads, pursue what matters and focus on opportunities which get converted instantly.
                             </div>
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Track and follow-up on every deal
                             </div>
                             <div class="tab-info-content">
                                Stay up to date on all your leads. Identify leads that need your attention, know where they are at and what's next for them.
                             </div>
                          </div>
                          <div class="row tab-info">
                             <div class="tab-info-title">
                                Set, manage and achieve your targets
                             </div>
                             <div class="tab-info-content">
                                Measure your company’s talent deficit gap, set realistic targets and close winning deals to bring perfect balance.
                             </div>
                          </div>
                       </div>
                       <div id="accr-img-1" class="col-sm-6 col-xs-12 rightside">
                          <!-- <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg"> -->
                          <div class="tab-image-desk img-t1-desktop"></div>
                          <img class="tab-image-mob img-t1-mobile" src="https://res.cloudinary.com/dngpsvrmd/image/upload/v1522085374/sales/tabImage1.png">
                       </div>
                    </div>
                 </section>
            </div>
         </div>
      </div>
   </div>
</div>
{% include footer.html %}